@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&display=swap');

:root {
    --black-header: #1a1c20;
    --black-body: #252525;
    --black-game: #414141;
    --off-white: #f9fcfb;
    --black: #000000;
}

body {
    background-color: var(--black-body);
    font-family: "Montserrat", sans-serif;
}

.game-container {
    background-color: var(--black-game);
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid var(--black);
    border-radius: 10px;
}

.controls-container {
    background-color: var(--black-game);
    width: 80%;
    height: 30vh;
    margin-top: 2vh;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    border: 3px solid var(--black);
}

.control-div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

#game-canvas {
    height: 40vh;
    margin: 10px;
    background-color: var(--black);
    max-width: 90%;
    border-radius: 10px;
}

.control-button {
    width: 90%;
    height: 80%;
    background-color: var(--black-body);
    border: 1px solid var(--black);
    color: var(--off-white);
    font-size: 22px;
}

.control-button:hover {
    background-color: var(--off-white);
    border-color: var(--off-white);
    color: var(--black);
}

.footer-container {
    position: absolute;
    bottom: 0;
    text-align: center;
    height: 5vh;
    background-color: var(--black-header);
    padding-top: 1vh;
    color: var(--off-white);
}

nav {
    background-color: var(--black-header);
}

section {
    padding: 3vh 0;
}

main {
    height: 100vh;
}

.scene-text-div {
    width: 100%;
    max-height: 20vh;
    padding: 20px 0;
    color: var(--off-white);
    font-size: 20px;
    background-color: var(--black);
    text-align: center;
    vertical-align: middle;
    overflow: auto;
}

#scene-text {
    margin-bottom: 0;
}

.modal-content {
    background-color: var(--black-header);
    color: var(--off-white);
}

.modal-header {
    border-bottom: 0px;
}

.modal-footer {
    border-top: 0px;
}

.feedback-input {
    background-color: var(--black-game);
    border-color: var(--black-body);
    color: var(--off-white);
}

.about-link {
    color: var(--off-white);
    text-decoration: none;
}

.about-link:hover {
    color: var(--black-game);
}